.villa{
    color: #F5576C !important;
}
.appartment{
    color: #36D4ED !important;
}
.land{
    color: #B3D369 !important;
}
.house{
    color: #FFBC09 !important;
}
.otherTypes{
    color: #262E3A !important;
}