@import 'base/mixins';
@import 'base/base';
@import './base/variables';

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Kufi Arabic', sans-serif ;
    direction: rtl;
}

@import './layout/layout';
@import 'base/utils';
@import 'components/rental-list';
@import 'components/rentalDetail-colors.scss';
@import 'components/rental-detail';
@import 'components/form';
@import 'components/booking';
@import 'components/user-bookings';
@import 'components/rentals-manage';